.editUser {
    height: 100vh;
    background-color: black;
    color:  #F4FF00;
    font-family: 'Coming Soon', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    font-size: 2rem;
    text-align: center;
}



.editUser form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editUser form input {
    text-align: center;
    background: black;
    font-family: 'Coming Soon', cursive;
    font-size: 2rem;
    transition: all .5s;
}

form .editUserInput {
    border: none;
    border-bottom: solid 1.5px  #F4FF00;
    color:  #F4FF00;
}

form .editUserInput:focus {
    background-color:  #F4FF00;
    color: black;
}

form button {
    font-family: 'Coming Soon', cursive;
    background-color: black;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: none;
    font-weight: bold;
    transition: all .5s;
  }

.editUserButton {
    color:  #F4FF00;
}

.editUserButton:hover {
    background-color:  #F4FF00;
    color: black;
}