.MemeShow {
    height: 60rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    flex-flow: column nowrap;
    font-family: 'Coming Soon', cursive;
    background-color: black;
    color: #FF7600;
    position: relative;
    text-align: center;
    color: white;
    /* font-family: 'Rubik Mono One', sans-serif; */


}


.user-show-button {
    padding: 1rem;
    background-color: black;
    color: #F4FF00;
    /* background-color: #F4FF00;
    color: black; */
    margin: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0%
}

.user-show-button:hover {
    background-color: #F4FF00;
    color: black;
    /* background-color: black;
    color: #F4FF00; */
}
.memeshow-top-text {
    color: white;
    font-size: 1rem;
    /* padding: 2rem; */

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rubik Mono One', sans-serif;


}

.memeshow-bottom-text {
    color: white;
    font-size: 1rem;
    /* padding: 2rem; */
    position: absolute;
    bottom: 27%;
    left: 43%;
    font-family: 'Rubik Mono One', sans-serif;


}

.memeshow-image {
    /* padding: 10rem; */
    height: 40rem;
    /* width: 30rem; */
    width: 40rem;
}